pyvmomi==6.5
cloudshell-automation-api>=8.3,<8.4
cloudshell-core>=2.2,<2.3
cloudshell-networking-devices>=2.4,<2.6
cloudshell-cp-vcenter>=1.10,<1.11
cloudshell-traffic-virtual>=1.0,<1.1
cloudshell-tg-teravm-vblade>=1.0,<1.1